.conteiner_newContact {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    padding-left: 2px;
    padding-right: 2px;
    background-color: black;
}
.conteiner_newContact h2 {
    color: #fff;
    padding: 10px;
}
.image {
    margin: 30px;
}
.conteiner_newContact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_conteiner {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 16px;
    padding: 10px;
}
.form_conteiner .inputs {
    width: 90%;
}
.conteiner_newContact .image input {
    display: none;
}
.conteiner_newContact .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner_newContact .image label {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: green;
    cursor: pointer;
}
.conteiner_newContact .image label svg {
    font-size: 1.8em;
    color: rgb(15, 15, 15);
}
.form_conteiner input {
    width: 70%;
    color: #b4b4b4;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(78, 78, 78);
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 15px;
}

.form_conteiner input:active, input:focus {
    border-color: rgb(1, 90, 1);
}
.form_conteiner select {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(78, 78, 78);
    font-size: 1em;
    color: rgb(136, 136, 136);
   
}
.form_conteiner .telefone, .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btns {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.btns button {
    color: green;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
}
.btns button:hover {
    cursor: pointer;
    color: rgba(0, 255, 0, 0.61);
}